.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 100px;

    background-color: antiquewhite;
    position: sticky;
    z-index: 2;


    

}

.navbar img {
    display: inline-block;
    height: 60px;
    width: 60px;

}

.navbar nav {
    display: flex;
    gap: 1rem;

}