.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 100px;

    background-color: rgb(16, 15, 14);
    position: sticky;
    top: 0; /* 必须指定贴顶 */
    /* width: 100%; 确保横向撑满 */
    z-index:1;
    
    /* 可选优化 */
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5); /* 添加底部阴影增强悬浮感 */
    margin-bottom: 10vh;


    

}

.navbar img {
    display: inline-block;
    height: 60px;
    width: 60px;

}

.navbar nav {
    align-items: center;
    display: flex;
    gap: 1rem;

}
.navbar p {
    color: white;
}
.navbar nav div  {
    display: flex;



}