.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 400px;
    width: 300px;
    min-width: 300px;
    background-color: rgb(238, 238, 237);
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 10px;

    
}

.anime {
    border-top: 1px solid rgb(209, 200, 200);
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgb(209, 200, 200);
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}

.anime:hover{
    background-color: rgb(250, 230, 233);
    border-radius: 20px;
}

.tags{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgb(209, 200, 200);
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.tags:hover {
    background-color: rgb(250, 230, 233);
    border-radius: 20px;
}